<h1>Add a new order to @Model.Name</h1>
<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="title">Title</label>
  <input id="title" name="title" type="text">
  <label for="description">Description</label>
  <input id="description" name="description" type="text">
  <label for="price">Price</label>
  <input id="price" name="price" type="number" step="0.01">
  <label for="date">Date</label>
  <input id="date" name="date" type="date">
  <button type="submit">Add order</button>
</form>