<form action="/orders" method="post">
  <label for="title">Add a new title</label>
  <input id="title" name="title" type="text">
 <label for="description">Add a new description</label>
  <input id="description" name="description" type="text">
  <label for="price">Add price</label>
  <input id="price" name="price" type="number" step="0.01">
  <label for="date">Add date</label>
  <input id="date" name="date" type="text">
  <button type="submit">Submit</button>
</form>