<h1>Order Details:</h1>

<h2>@Model.Title:</h2> 
<h4>@Model.Description</h3>
<h4>Price: $@Model.Price</h4>
<h4>Date: @Model.Date</h4>

<a href="/orders/new">Add another order</a>
<a href="orders">View all orders</a>